body {
    color: aliceblue;
    height: 100%;
    font-family: sans-serif;
    background-image: url('../img/binary.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}