:root {

    --color-uno: #495464;
    --color-dos: #BBBFCA;
    --color-tres: #E8E8E8;
    --color-cuatro: #F4F4F2;
    --textuno: #000;
    --textdos: #fff;
}

* {
    margin: 0;
    padding: 0;
}

body,
html {

  font-family: sans-serif;
 
}
.grid-container {
    display: grid;
    grid-template-areas:

        "header "
        "menu"
        "main"
        "footer ";
}
.menu {
    grid-area: menu;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    opacity: 0.8;
}

.header {
    grid-area: header;
   
}

.main {
    grid-area: main;
    opacity: 0.9;
  
}
a {

  text-decoration: none;
  color: var(--textuno);
}

.ul {
  display: flex;

}
.li {
  background-color: var(--color-cuatro);
  color: var(--textuno);
  text-align: center;
  border-radius: 5px;
}


.li:hover {
  background-color: var(--color-tres);
  opacity: 0.8;
}
.sticky {
  position: sticky;
  top: 0;
  
}

.a {
  background-color: var(--color-tres);
  color: var(--textuno);
  font-size: 2vw;


}


.footer {
    opacity: 0.8;
    grid-area: footer;
    text-align: right;
    background-color: var(--color-uno);
    color: var(--color-cuatro);
}


@media only screen and (min-width: 1px) and (max-width: 768px) {
    .header {

        grid-gap: 8%;
    }

    .header img {
        width: 8vw;
        padding: 2%;

    }

    .date {
        text-align: right;
        margin: 2% 2% 1% 5%;
        font-size: 1.5rem;
        color: var(--textuno);
    }

    .date1 {

        padding: 8%;
        font-size: 1.5rem;
        color: var(--textuno);
    }
 
 main ul{
     display: block;
     list-style-type: none;
  }

 
 
  main {
    margin-right: 1%;
    margin-left: 1%;
  }
  main li {
   
    margin-bottom: 8%;
    margin-top: 3%;
  }
  
   li {
   padding: 1%;
    font-size: 1rem;
  }
 
  .li{
    padding: 1%;
    margin: 1%;
  }

 
  .containerdisc {
    padding: 5%;
    font-size: 1.3rem;
    width: 85vw;
    height: 90vw;
    
  }
  .containerdisc p{
  padding: 3%;
    text-align: left;
 
 
    
  }
  .containerdisc a {
    font-size: 1.3rem;
    color: var(--textuno);
    background-color: var(--color-tres);
    padding: 2%;
  }
   .footer {
        padding: 2% 10% 3% 20%;
        font-size: 1rem;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
    .header {

        padding: 2% 3% 3% 50%;
        grid-gap: 8%;
    }

    .header img {
        width: 8vw;
        padding: 2%;

    }

    .date {
        text-align: right;
        margin: 2% 2% 1% 5%;
        font-size: 3vw;
        color: var(--textuno);
    }

    .date1 {

        padding: 8%;
        font-size: 3vw;
        color: var(--textuno);
    }


    ul {
        display: flex;
         list-style-type: none;
    }
  
   .li{
      text-decoration: none;
     padding: 1%;
     margin: 1%;
   }
 
  
  main li {
    padding: 1%;
    margin: 5%;
 
  }

   button {
    font-size: 1rem;
  }
  .containerdisc {
    font-size: 1.5rem;
    width: 40vw;
    height: 40vw;
  }

  .containerdisc p{
    padding-top: 3%;
    text-align: left;
    padding-left: 3%;
    padding-bottom: 2%;

    
  }
  .containerdisc a {
    padding: 1%;
    font-size: 1.5rem;
    background-color: var(--color-tres);
    padding: 1%;
    color: var(--color-uno);
    
  }

  .footer {
        padding: 2% 10% 3% 20%;
        font-size: 1rem;
    }


}

@media only screen and (min-width: 1281px) {

    .date {
        text-align: center;
        margin: 2% 2% 1% 40%;
        font-size: 2rem;
        color: var(--textuno);
    }

    .topnav {
        padding-left: 14%;
    }

    .header {
        padding: 2% 0 2% 15%;
        grid-gap: 5%;
    }

    .header img {
        width: 5vw;
        grid-gap: 5px;
    }


   ul {
        display: flex;
        
         list-style-type: none;
    }

    li {
    padding: 1%;
     font-size: 1.5rem;
   }
  
   .li{
     padding: 1%;
     margin: 1%;
   }

  
 
  main li {
    padding: 1%;
    margin: 2%;
  }

   button {
    font-size: 1rem;
  }
  .containerdisc {
    font-size: 2rem;
    width: 40vw;
    height: 40vw;
  }

.containerdisc a {
  font-size: 1.5vw;
  background-color: var(--color-tres);
  color: var(--color-uno);
  padding: 1%;
 
}
.containerdisc p{
  padding-top: 3%;
  text-align: left;
  padding-left: 3%;
  padding-bottom: 2%;
  
}

    .date1 p {
        padding: 8%;
        font-size: 2vw;
        color: var(--textuno);
    }
  .footer {
        padding: 2% 10% 3% 20%;
        font-size: 1rem;
    }


}


/* menu*/
.topnav {
    overflow: hidden;


}

.topnav a {
    float: left;
    display: block;
    color: var(--textuno);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    padding: auto;
    font-weight: 700;
}

.topnav a:hover {
    border-radius: 5px;
    background-color: var(--textuno);
    color: var(--color-uno);
}

.topnav a.active {

    color: var(--color-uno);
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* fin menu*/


/* Cara del disco*/

.imgtarg {
  width: 100%;
  height: 100%;
}
.containerdisc {
  background-color: transparent;
  perspective: 2000px;
}

.disco {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.disco h3,
card p {
  display: block;
  /*margin: 2%;*/
}

.disco p,
.disco button {
  color: var(--color-cuatro);
}

.containerdisc:hover .disco {
  transform: rotateY(180deg);

}

.frente {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  justify-content: center;
}
.reverso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  justify-content: center;
}

.frente {
  background-color: var(--color-dos);
  color: var(--color-uno);
  display: flex;
}

.reverso {
  background-color: var(--color-dos);
  transform: rotateY(180deg);
 background-image: url("../img/dj.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.reverso p {
  padding: 4%;
  margin: 2%;
  opacity: 0.9;
 background-color: var(--color-tres);
  color: var(--textuno);
  font-size: 0.65em;
}

.reverso button {
  display: block;
  width: 80%;
  border: 2px solid var(--color-uno);
  background: transparent;
  text-transform: uppercase;
}

button {
  display: block;
  width: 50%;
  margin: 2rem auto 0;
  border: 2px solid var(--color-dos);
  background: transparent;
  text-transform: uppercase;
}

/* fin cara*/
